<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../template/head', { title: title } ); %>
    </head>
    <body>

        <header>
            <%- include ('../template/header', { username: null, configHeader:configHeader, currpage : currpage  }); %>
        </header>

        <main>
            <div class="container" style="text-align: center;" >
                <div class="row">
                    <%products.forEach(function(product) { %>
                        <%- include('product-one', {product: product}); %>
                    <% }); %>
                </div>
            </div>
        </main>
          
        
        <%- include ('../template/footer'); %>


    </body>
    <script>
        var itemlist = {};
        var soluong = 0;

        function add_to_cart(iditem, nameitem, price) {
            
            $.ajax({
                url: '/order/add_to_cart',
                type: 'get',
                success: function(data) {
                    console.log(data);
                },
                data: {id: iditem, name: nameitem, price: price}
            });
        }
    </script>

</html> 